:root {
    --background-color: rgb(177, 212, 242);
    --alt-background-colour: rgb(37, 145, 240);
    --text-colour: #5c0303;
    --global-padding: 6px;
    --border-radius: 8px;
    --box-shadow: 2px 2px 4px var(--text-colour);
    --hover-shadow: 4px 4px 6px var(--alt-background-colour);
    ;
    --button-padding: 8px 20px;
    --hover-padding: 10px 30px;
}

* {
    padding: 8px;
    background-color: var(--background-color);
    color: var(--text-colour);
}

button {
    border-radius: var(--border-radius);
    background-color: var(--alt-background-colour);
    color: var(--background-color);
    border: white;
    padding: var(--button-padding);
}

button:hover {
    color: var(--text-colour);
    background-color: var(--background-color);
    padding: var(--hover-padding);
    border: solid var(--alt-background-colour);
}

.grid-container {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(100px, 6fr)); */

    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr 5fr 1fr;

    gap: 4px;
}

.grid-header {
    grid-column: 1 / 3;
    background-color: var(--alt-background-colour);
}


.grid-sidebar {
    grid-row: 2 / 4;
}

.todo-card {
    border: solid;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: var(--button-padding);
}

.todo-card:hover {
    box-shadow: var(--hover-shadow);
}

.grid-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(100px, 2fr));
    gap: 6px;
}