@import url(https://fonts.bunny.net/css?family=abeezee:400);

:root {
    --background-color: rgb(225, 239, 251);
    --alt-background-colour: rgb(160, 206, 247);
    --dark-background-colour: rgb(57, 158, 247);
    --text-colour: #5c0303;
    --global-padding: 6px;
    --border-radius: 8px;
    --box-shadow: 2px 2px 4px var(--text-colour);
    --hover-shadow: 4px 4px 6px var(--alt-background-colour);
    --button-padding: 8px 20px;
    --hover-padding: 10px 30px;
    --high-priority: #f70505;
    --med-priority: #f7f705;
    --low-priority: #1df705;
}

* {
    padding: 8px;
    background-color: var(--background-color);
    color: var(--text-colour);
    font-family: 'ABeeZee', Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, sans-serif;
}

button {
    border-radius: var(--border-radius);
    background-color: var(--dark-background-colour);
    color: var(--background-color);
    border: white;
    padding: var(--button-padding);
}

button:hover {
    color: var(--dark-background-colour);
    background-color: var(--background-color);
    padding: var(--hover-padding);
    border: solid var(--dark-background-colour);
}

input:focus,
textarea:focus {
    outline-style: solid;
    outline-color: var(--alt-background-colour);
    outline-width: 3px;
}

.page-title {
    grid-column: 1/3;
}

.page-title * {
    background-color: var(--alt-background-colour);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 6fr));
    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-flow: row;
    grid-gap: 1em;
}

.grid-sidebar {
    grid-area: 2 / 1 / 3 / 2;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    resize: horizontal;
}

.todo-card {
    border: solid;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: var(--button-padding);
}

.todo-card:hover {
    box-shadow: var(--hover-shadow);
}

.grid-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 6px;
    grid-row: 2/3;
}

.high {
    color: var(--high-priority);
}

.medium {
    color: var(--med-priority);
}

.low {
    color: var(--low-priority);
}